@{
    var BlogTitle = Context.String(BlogKeys.Title);
    var PageTitle = Model.WithoutSettings.String(BlogKeys.Title);
    var HeaderShortText = string.IsNullOrWhiteSpace(PageTitle) ? "Josh Taylor" : PageTitle;
    var HeaderText = string.IsNullOrWhiteSpace(PageTitle) ? "Josh Taylor's Blog" : PageTitle;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        @Html.Partial("_SharedMeta")
        @RenderSection("PageMeta", required: false)

        @Html.Partial("_SharedStylesheets")
        @RenderSection("PageStylesheets", required: false)

        <title>@Html.Raw($"{BlogTitle} - {HeaderText}")</title>
    </head>
    <body>
        @Html.Partial("_Navbar")

        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4 d-none d-sm-block">@HeaderText</h1>
                <h1 class="display-4 d-block d-sm-none text-center">@HeaderShortText</h1>
            </div>

            @RenderBody()
        </div>

        @Html.Partial("_SharedScripts")
        @RenderSection("PageScripts", required: false)
    </body>
</html>