@foreach(var post in Model.DocumentList(Keys.PageDocuments)
                          .OrderByDescending(p => p.Get<DateTime>(BlogKeys.Published)))
{
    <div class="col-12 col-lg-6 col-xl-4">
        <div class="card mb-3">
            <div class="btn-group">
                <a role="button" href="@Context.GetLink(post)" class="btn btn-primary btn-lg text-left">@post.WithoutSettings.String(BlogKeys.Title)</a>
            </div>
            <div class="card-body pb-1">
                <div class="">
                    @if(Context.Bool(BlogKeys.IndexFullPosts))
                    {
                        @Html.Raw(post.Content)
                    }
                    else
                    {
                        @Html.Raw(post.String(BlogKeys.Excerpt))
                    }
                </div>

                <p class="text-muted">Posted @(post.Get<DateTime>(BlogKeys.Published).ToLongDateString(Context))</p>
            </div>

            @Html.Partial("_TagButtons", post.Get<IEnumerable<string>>(BlogKeys.Tags))
        </div>
    </div>
}
