@{
    Layout="_Layout";
    var Published = Model.Get<DateTime>(BlogKeys.Published);
    var Tags = Model.Get<string[]>(BlogKeys.Tags) ?? Enumerable.Empty<string>();
}

@section PageHeader {
    <h1>@Model.WithoutSettings.String(BlogKeys.Title)</h1>
    <p>Published on <span class="d-none d-sm-inline">@Published.ToLongDateString()</span><span class="d-inline d-sm-none">@Published.ToShortDateString()</span></p>
    @Html.Partial("_TagButtons", Model.Get<IEnumerable<string>>(BlogKeys.Tags) ?? Enumerable.Empty<string>())
}

@RenderBody()