<div class="btn-group btn-group-sm" role="group" aria-label="Twitter Handle">
    <a href="mailto:taylor.joshua88@gmail.com" class="btn btn-success pt-1 pr-1 pr-xl-2 mr-1 mr-xl-2">
        <span class="align-middle">
            <span class="far fa-envelope fa-lg mr-1"></span>
            <span class="d-none d-xl-inline">@Html.Raw("taylor.joshua88@gmail.com")</span>
        </span>
    </a>
    <a href="https://www.linkedin.com/in/taylorjoshuaw/" class="btn btn-primary pt-1 pr-1 pr-xl-2 mr-1 mr-xl-2">
        <span class="align-middle">
            <span class="fab fa-linkedin fa-lg mr-1"></span>
            <span class="d-none d-xl-inline">@Html.Raw("taylorjoshuaw")</span>
        </span>
    </a>
    <a href="https://github.com/taylorjoshuaw" class="btn btn-dark pt-1 pr-1 pr-xl-2 mr-1 mr-xl-2">
        <span class="align-middle">
            <span class="fab fa-github fa-lg mr-1"></span>
            <span class="d-none d-xl-inline">@Html.Raw("taylorjoshuaw")</span>
        </span>
    </a>
    <a href="https://twitter.com/Jupiter_Nebula" class="btn btn-info pt-1 pr-1 pr-xl-2 mr-1 mr-xl-2">
        <span class="align-middle">
            <span class="fab fa-twitter fa-lg mr-1"></span>
            <span class="d-none d-xl-inline">@Html.Raw("@Jupiter_Nebula")</span>
        </span>
    </a>
    <a href="https://www.youtube.com/channel/UCDshtzr4oyRiT_LvziIyPUw" class="btn btn-danger pt-1 pr-1 pr-xl-2 mr-1 mr-xl-2">
        <span class="align-middle">
            <span class="fab fa-youtube fa-lg mr-1"></span>
            <span class="d-none d-xl-inline">@Html.Raw("YouTube")</span>
        </span>
    </a>
</div>
